.about {
	text-align: left;
}

.about p, .about ul {
	font-size: max(1.25vw, 2vh);
}

.about h3 {
	font-size: 2vmax;
	margin-bottom: 0;
	margin-left: 1vw;
}

.about a:hover {
	cursor: pointer;
	filter: brightness(80%);
}

.about img.integrelle {
	width: 25vmin;
	height: 25vmin;
	margin-right: 1vmax;
}

@media (orientation: landscape) {
	.about ul {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
	}
}