@media (orientation: portrait) {
	.brella img {
		max-width: 128px;
		width: 20vw;
	}
}

@media (orientation: landscape) {
	.brella {
		display: flex;
		align-items: center;
	}

	.brella img {
		width: 128px;
		height: 128px;
	}
}