.brella-hr {
	position: relative;
	width: 80%;
}

.integrelle {
	opacity: 1;
	transition: opacity .5s ease;
}

.integrelle.hori {
	width: 15vw;
	height: 15vw;
	margin: auto;
}

.integrelle.vert {
	width: 25vw;
	height: 25vw;
}

.integrelle.hidden {
	opacity: 0;
}

.integrelle img {
	position: relative;
	width: 100%;
}