.about {
	text-align: left;
}

.about * {
	font-size: max(1.25vw, 2vh);
}

.about h3 {
	font-size: 2vmax;
	margin-bottom: 0;
	margin-left: 1vw;
}

.about a:hover {
	cursor: pointer;
	filter: brightness(80%);
}

.about img {
	width: 25vmin;
	margin-right: 1vmax;
}